<div>
    <style></style>
    <script></script>
    <table id="table-orders" class="table-orders">
        <tr>
            <th>OID</th>
            <th>订单</th>
            <th>数量</th>
            <th>总价</th>
            <th>时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        
        <!-- <tr class="table-goods-data">
            <td key="gid">123</td>
            <td key="name">名字</td>
            <td key="price">132</td>
            <td key="classify">无分类</td>
            <td key="amount">6546</td>
            <td key="look">77</td>
            <td key="date">2022-10-18</td>
            <td key="img">URL</td>
            <td key="intro">介绍</td>
            <td key="brief">简介</td>
            <td key="update"><button class="goods-update-btn">修改</button></td>
        </tr> -->

    
    </table>

</div>