<!-- <h1 style="height: 35px;margin:0">user</h1> -->
<!-- <script src="/js/jquery-3.6.1.min.js"></script> -->
<script>
    $(document).ready(function () {

        $("#userUpdateDiv input[name=updateName]").val(sessionStorage.getItem("username"))
        $("#userUpdateDiv input[name=updateEmail]").val(sessionStorage.getItem("email"))
        $("#userUpdateDiv input[name=updatePassword]").val(sessionStorage.getItem("password"))

    })
    function updateUserInfo() {
        let uid = sessionStorage.getItem("uid")
        let user = {
            uid: parseInt(uid),
            email: $("#userUpdateDiv input[name=updateEmail]").val(),
            username: $("#userUpdateDiv input[name=updateName]").val(),
            password: $("#userUpdateDiv input[name=updatePassword]").val(),
            is_admin: true
        }
        $.ajax({
            type: "post",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            url: "http://127.0.0.1:8080/api/?param=user_update",
            data: JSON.stringify(user),
            success:function (data){
                console.log(data)
            }
        })
    }
</script>

<div id="userUpdateDiv">
    <input type="text" name="updateName" placeholder="用户名">
    <input type="text" name="updateEmail" placeholder="邮箱">
    <input type="text" name="updatePassword" placeholder="密码">
    <button onclick="updateUserInfo()">修改</button>
</div>